
@import url('https://fonts.googleapis.com/css?family=Oldenburg');

body {
    padding: 50px;
    background-color: beige;
}

h1.fnt-red {
    color: red;
    }
    
    .fnt-blue {
    color: blue;
    }
    
    #nombre_alumno {
        color: rgb(23, 235, 87);
        text-decoration: underline;
    }
    .titulo{
        color: blue;
        font-size: 30px;
        font-style: italic;
    }

img.portada{height: 300px;
            border: 1px red solid;
            padding: 10px; }
img.mono{height:150px;
        border: black;
        border-style: double;
        border-spacing: 50px;
        padding: 10px;
        align-content:center;}
img.mono2{height:150px;
         border: black;
         border-style: double;
         border-spacing: 50px;
         padding: 10px;
        align-content: center;
        }
#texto {font-size: 15px;
        color: darkblue;}
#destacado{font-style: italic;
            font-weight: bold }

         
div.circulos div {
                /* margin: auto; */ 
                width: 100px;
                height: 100px;
                line-height: 100px;
                background-color: darkblue;
                text-align: center;
                border: 2px solid black;
                font-weight: bold;
                font-size: 50px;
                color: white;
                border-radius: 50%;
                display:inline-block;
              }

div.circulos div.derecha{float: right;
}
div.circulos  div.izquierda{float: left;}
div.circulos {text-align: center;}

i.hovershow{
    width: 50px;
    font-size:  50px;
    color: white;
    background-color: blue;
    margin-right: 25px;
    padding:10px;
    cursor: pointer;
}
/* clase que se le aplica a un elemento span que esta despues de una clase i.hovershow*/
i.hovershow + span{
    display: none;
    width: 200px;
    background-color: lightblue;
    padding: 5px;
}
/*lo que le pasa a un elemento span que esta detras de un i.hoversho, cuando se pasa por encima*/
i.hovershow:hover + span{
    display: inline-block;
}

/* EJERCICIO 8: para marcar una letra o un parrafo un cambio  */ 

    p.miparrafo::first-line{
        font-weight: bold;    
    }
    p.miparrafo::first-letter{
        font-size: 3em;
        color:green;
    }

 /* Ejercicio 9: para añadir en una lista a cada una de sus lineas la parte de km.*/
ul.distancias li::after{
    content: " km";
}
li.moneda::after {
    content: " €";
}
/* Pone la primera letra de cada parrafo al doble de su tamaño */

p::first-letter {
    font-size: 3em;
    color:rgb(15, 134, 21);
    
}
p.parrafo {font-family: 'Oldenburg', cursive;}

label.formulario {color:blue;
    font:bold;
    font-size: 15px;
    }


/* ejercicio 10 : cambiar el color que aparece cuando selecccionamos el texto */

p::selection{
    background-color:yellow;
    font-weight: bolder;
}

/* ejercicio de imagenes*/

div.imagenes2{
    height: 300px;
    width:300px;
    background-image:url("/imagenes/gato3.jpg");
    background-size: 70%;
}
    
            
    
